.HomeAsideRight-label{
    padding: 10px;
    font-size: 2rem;
    border-bottom: rgb(209, 53, 53);
   
}
.HomeAsideRight{
    /* background-color: rgb(236, 232, 232); */
    position: fixed;
    padding: 0;
    top: 70px;
    right: 40px;
    z-index: 1;
    
    
   
}