.profile-container{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.profile__content{
    display: flex;
    justify-content: space-around;
    flex:1;
}
.profile__content-left__aside .profile__content-right__aside{
    display: flex;
    flex:1;
    justify-content: space-around;
    flex-direction: column;
}